@import "tailwindcss";

@theme {
  --color-bg-primary: #1a1a2e;
  --color-bg-card: #16213e;
  --color-accent-orange: #f97316;
  --color-accent-green: #22c55e;
  --color-accent-red: #ef4444;
  --color-border-anime: #f97316;
}
